@use "../partials/variables.scss" as *;

.cart {
    position: absolute;
    top: 0;
    left: 0;	
    width: 100%;
    height: 822px;
    background-color: rgb(255, 255, 255); 
    color: $bg-color-black;
    z-index: 1000; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 22%;
    font-family: $font-primary;
    border-radius: $border-radius-primary;
    overflow-y: auto;
}

.cart__items {
    flex-grow: 1; 
    width: 100%;
    overflow-y: auto; 
}

.cart__empty {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100%;             
    font-size: $font-size-xl; 
    font-weight: $font-weight-bold; 
    color: $bg-color-black;   
}



.cart__row {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 4%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.cart__underheader {
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    flex: 1; 
}

.cart__controls {
    display: flex;
    align-items: center;
    gap: 8px; 
}

.cart__button {
    background: none;
    border: 1px solid $bg-color-black;
    font-size: $font-size-xl;
    padding: 4px 10px;
    cursor: pointer;
}

.cart__quantity {
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
}

.cart__price {
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    flex: 0.5; 
    text-align: right;
}

.cart__trash {
    width: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.cart__dotted--between {
    border-bottom: dashed 1px rgb(0, 0, 0);
    width: 100%;
}

.cart__lower--wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 4%;
    justify-content: flex-end;
}

.cart__lower--article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-color-light-grey;
    padding: 15px;
}

.cart__lower--header,
.cart__lower--price {
    font-size: $font-size-h1;
    font-weight: $font-weight-bold;
}

.cart__lower--button {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-h1;
    font-weight: $font-weight-bold;
    background-color: $bg-color-black;
    color: $color-white;
    cursor: pointer;
}

.Cart__box {
    position: relative;
    cursor: pointer;
}

.Cart__box--count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #eb5757;
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

